
@charset "utf-8";
#head {
    font-size: 28px;
	color: darkslateblue;
	background-image: url('../../assets/T30.png'); 
	margin-bottom: 1px;
	text-align: center;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 5px;
	padding-top: 10px;
	height: 350px;
	font-weight: 400;
	font-family:  "courier new", courier, monospace;
} 
body { 
		text-align: justify;
		padding-left: 5%;
		padding-right: 5%;  
		background-color: #ff8707;
		font-family:   "courier new", courier, monospace;
		opacity:.9;
		background-image: url("../../assets/img/TMcaliforniaCruisingJungleSunday.jpg");
		opacity: .9;
		font-size: 1.0rem;
		color: darkslateblue;
	} 

.blog {
    background-color:#ff8707;
    background-image:url('../../assets/img/NACKhalifax60.png');
    color:darkslateblue; 
	height:600px;
    overflow-y:scroll; 
	padding:0px; 
	margin-left:auto;
	margin-right:auto;
	width:99%;
}

#blogcat {
text-align:justify; 
padding:5px;
float:left;
color:darkslateblue;
width:99%;
margin-left:auto;
margin-right:auto;
max-width:720px;
}
.p {
	font-family:"courier new", courier, monospace;
	color: darkslateblue;
	font-size:1.0rem;
	font-weight:bold;
border-radius:5%;
}
#tmm-button {
	background-color:#ff8707;
	font-family:sans-serif;
padding:1px;
	opacity:.9;
font-size:1.1rem;
	color:darkslateblue;
	padding:5px;
}
.active {
	background-color:yellow;
}
.catlist {
	  
	list-style-image: none;
	list-style-type: none; 
}  
#fictional {
	float:left; 
	
	border-radius:  5%;
	border:solid .5px darkslateblue; 
	background-color:#ff8707;
    background-image:url('../../assets/img/NACKhalifax60.png');
	line-height:.5em; 
	padding-right:5px;
	padding-left:5px;
font-size:1.4rem;
}
.pieds {
    position: relative;/* this gives IE6 hasLayout to properly clear */
    clear: both; /* this clear property forces the .container to understand where the columns end and contain them */ 
	font-family: "courier new", courier, monospace;
	font-size: 11px;
	color:#ff8707; 
	height: 200px;
	padding-top: 10px;
	padding-right: 0 ;
	padding-bottom: 10px;
	padding-left: 0;
	 
} 
div#form { 
	font-family: "courier new", courier, monospace;
	font-size: 14px;
	width: 225px;	
	float: left;
	margin-top: 30px; 
	padding-top: 5px;
	padding-bottom: 10px; 
	border-radius:  2%;
	border:solid 1px slateblue; 
	font-style: normal;
	color: #EFEFEF;
	
}
#window {
	 
	width:150px;
	padding-left:2px;
	height:35px;
	font-size:16px;
	background:none;
	color:white;
background-image: url('../../assets/T30s.png');
}
#bu {
	width:40px;
	 
	background-image: url('../../assets/T30s.png');
} 
#head {
	line-height: 0.7em;
}
.p {
	margin:20px;padding:35px;text-align:justify;font-size:13;float:right;
width:600px;
   color:rgb(59, 50, 134);
   background-color:#ff8707;  
   border:solid .5px darkslateblue; 
   opacity:.9;
   font-family:"courier new", courier, monospace;
   float:left;
}
.links {
	background-image: url('../../assets/img/T30.png'); 
	font-family: "courier new", courier, monospace;
	font-size: 14px;
	width: 665px;
	float: right;
	padding-bottom: 10px;
	border-radius:  5%;
	border:solid .5px darkslateblue; 
 background-color:#ff8707; 
    margin-top:1px; 
	font-style: normal;
	color: white;

	
}
.yellow {
	background-image: url('../../assets/img/tmm40.PNG')
}
    /* background-image: url('../assets/img/1330moonscape.jpg'); */
.black {
    background-image: url('../../assets/img/19990123_040428.jpg');

}
.links a {
	text-decoration: none;
	color:  white;
}
.links  a:hover 
{
	color: purple;
}
.links li 
	{
	float: left;
	color:yellow;
	display: block;
    margin-left:  7px;
	margin-right: auto;
	list-style-type: none;
	padding-left: 9px;
	width: 400px;
	text-decoration: none;
	height: 30px;
 
	margin-top: 20px;
}
.links  li:hover 
{
	background-color: #A6A6A6;
	color: purple;
}
.container {
	width: 800px;
	margin-right: auto;
	margin-left: auto;
}
 
.container #center {
	width:300px;
	float:right;
	color:white;
	font-family: "courier new", courier, monospace;
	font-size:small;
} 
/* oct 21 2017 */
 
h6,
h5,
h4,
h3,
h2,
h1 {
	color: darkslateblue;
	opacity: .9; 
	line-height:1.3em;
	font-weight:bolder;
	text-align:right;
	margin-right:20px;
}
.excerpts {
	line-height:1.5em;
	color:rgb(59, 50, 134);
	opacity:.9;
	font-family: "courier new", courier, monospace;
} 

 
#head p strong {
	color:rgb(59, 50, 134);
	opacity:.9;
	font-family: "courier new", courier, monospace;
}        
#head p strong {
	font-family: "courier new", courier, monospace;
}
		#head p strong {
	font-family: "courier new", courier, monospace;
}
		#head p strong {
	font-family: "courier new", courier, monospace;
} 
#tmm_bck {
	float: left;
	padding: 10px;
	margin: 10px;
	color: darkslateblue;
	text-decoration: none;
	border-radius:5%;
	background-color: #ff8707;  
	border:solid .5px darkslateblue; 
	box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
} 
#tmm_bck:hover {
	font-weight: 600;
	background-color: solid 1px orange;
	transition: margin 0.3s;
	/* Dynamic Drive Socia Media */}
