 
    
    <title>TMM | About</title>
    
       
    <link rel="stylesheet" href="dist/css/about.css" /> 
    <style>.canvas2 {
            z-index:1;position:fixed;
            overflow:visible;left:200px;top:200px;}
            #bars {
                position:absolute;
                top:100px;
            }
            #thomas {
                margin-top:30px;
            } 
            #profile { 
                padding:10px;
                margin:10px;
            }
        </style>
   
    <!-- multi_drop_menu END 1 -->
 
    <div >
    <div ng-controller="aboutController" class="container">
                
          <img class="zoom" style="border:1px solid blue;border-radius: 50px 20px;width:170px;float:right;" src="dist/img/webCottonwood.jpg" />

        <div id="thomas">    
                <h2  >Thomas M. Maestas </h2>
             
          </div> 

        <div class="row">
                <div   class="multi_drop_menu">
                        <ul>
                                <li> 
                                    <a>CODING
                                        <br />PORTFOLIO </a>
                                    <ul>
                                        <li>
                                            <a href="http://www.thomasmaestas.net/dist/docs/CV_2018_MaestasThomas.pdf" target="_blank">CV-english</a>
                                        </li>
                                        <li>
                                            <a href="http://www.thomasmaestas.net/dist/docs/docu/CV2017_frMaestasThomas_.pdf" target="_blank">CV-français</a>
                                        </li>
                                        <li>
                                            <a href="http://hdl.handle.net/1928/31677" target="_blank">Education Thesis</a>
                                        </li>
                                        <li>
                                            <a href="http://www.thomasmaestas.net/dist/docs/docu/DataPresentADD_health_networks.pdf" target="_blank">Education Data Analysis R-LaTeX</a>
                                        </li>
                                        <li>
                                            <a href="http://www.thomasmaestas.net/dist/docs/docu/ADAHighSchoolNetworks.html" target="_blank">Education Data Analysis R-3.3</a>
                                        </li>
                                        <li>
                                            <a href="http://www.thomasmaestas.net/dist/docs/docu/edregression.htm" target="_blank">Education Data Analysis SPSS-24</a>
                                        </li>
                
                                        <li>
                                            <a href="https://public.tableau.com/profile/thomas.milton.maestas#!/vizhome/CarbonFootprint_1/C02NationTime"
                                                target="_blank">Environment Data Analysis Tableau</a>
                                        </li>
                                        <li>
                                            <a href="http://www.thomasmaestas.net/d3/globe_interact.html"> Data Visualization D3.js</a>
                                        </li>
                
                
                                    </ul>
                                </li>
                                <li>
                                    <a>
                                        <span  >CONFERENCE
                                            <br />PRESENTATIONS</span>
                                    </a>
                                    <ul>
                                        <li>
                                            <a href="http://tinyurl.com/gmtj4v4" target="_blank" style="width:350px;">
                                                <span>
                                                    <em>
                                                        <strong>
                                                            "Great Expectations Deferred: Contextualizing Community College Transfer Intentions"
                                                            <br
                                                            />
                                                        </strong>
                                                    </em>
                                                </span>2016 ASA-American Sociological Conference
                                                <br />@Seattle, WA</a>
                                        </li>
                                        <li>
                                            <a href="http://hscmediasite.unm.edu/unm/Catalog/Full/6a7e058c7810440197da72484269d86c21/?state=JPIHdhLtVxTxyQQ2QHuG"
                                                target="_blank" style="width:350px;">
                                                <span>
                                                    <strong>
                                                        <em>
                                                            "Social Determinants of Healthy Aging"
                                                            <br />
                                                        </em>
                                                    </strong>
                                                </span>Dec 2015 UNM Health Sciences Institute for Ethics Colloquium
                                                <br />@Albuquerque, NM</a>
                                        </li>
                                        <li>
                                            <a href="http://tinyurl.com/pcq6mjx" target="_blank" style="width:350px;">
                                                <span>
                                                    <i>
                                                        <strong>"The Effects of Peer Association on Adolescents' Graduation Outcomes: An HLM
                                                            Approach"
                                                            <br />
                                                        </strong>
                                                    </i>
                                                </span>2015 ASA Conference
                                                <br />@Chicago, Illinois</a>
                                        </li>
                                        <li>
                                            <a href="http://www.cpc.unc.edu/projects/addhealth/events/20140613AddHealthUsersConferenceAbstracts.pdf"
                                                target="_blank" style="width:350px;">
                                                <span>
                                                    <em>
                                                        <strong>
                                                            "Great Expectations: A Study on the Determinants of College Graduation Expectations"
                                                            <br
                                                            />
                                                        </strong>
                                                    </em>
                                                    2014 NIH-UNC Adolescent Health Data Users Conference, Session 6
                                                    <br /> @Bethesda, Maryland
                                                </span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                </div>
        </div>

        <hr>

        <div class="row">

            <div class="col-xs-7">

                <div class="media mediat">
 

                    <div class="media-body">



                        <ul>
                            <li class="two">Mobile &amp; Web App Development :<br />
                                <small>
                                    <i> Vanilla JS, React 16, Angular 5, Modernizr</i>
                                </small>
                            </li>
                            <li class="one">Data Analysis and Visualization :<br />
                                <small>
                                    <i> Python Pandas, R, Plot.ly, D3-JS</i>
                                </small>
                            </li>
                            </small>
                            </li>
                            <li class="one">Cloud Services<br />
                                <small>
                                  <i><a href="https://ourdailytechdata.firebaseapp.com" target="_blank">Google Firestore Demo</i></a>
                                  <i><a href="https://ourdailytechdata.firebaseapp.com" target="_blank">Amazon Web Services S3 Demo</i></a>
                                  <i><a href="http://abq-aws-thomas-maestas.s3-website-us-east-1.amazonaws.com/ride.html" target="_blank">AWS Serverless Web App Demo</i></a>
                                </small>
                            </li> 
                            <li class="two">Language Translation :<br />
                                <small>
                                    <i> French, Spanish </i>
                                </small>
                            </li>

                            <li class="one">Statistical Syntax Translation :<br />
                                <small>
                                    <i> R 3.1-3.4 to/from Python 2.7-3.6</i>
                                </small>
                            </li> 

                        </ul>
                      
                    </div>

                </div>

            </div> 
          
            <div class="col-xs-5  mediat  ">


                <div class="row  "> 
                    <div class="col-lg-6 mediac  ">
                                <h4>Contact Information
                            <br /></h4>
              
<br />
                        <h6 class="two lowercase">
                            <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                            <a target="_blank" class= href="http://thomasmaestas.net">  &nbsp;www.thomasmaestas.net</a>
                        </h6>
                      


                        <h6 class="lowercase">
                            <span class="glyphicon glyphicon-envelope" aria-hidden="true"> </span>
                            <a target="_blank" href="mailto:thomas@ourdailytech.com">  &nbsp;thomas@ourdailytech.com</a>
                        </h6>
                        <h6 class="two lowercase">
                            <span class="glyphicon glyphicon-envelope" aria-hidden="true"> </span>
                            <a target="_blank" href="mailto:thomas@ourdailytech.com">  &nbsp;thomas.maestas@hotmail.com</a>
                        </h6>

                        <h6 class="  lowercase">
                            <span class="glyphicon glyphicon-screenshot" aria-hidden="true"></span>
                            <a target="_blank" href="https://github.com/thomasm1">  &nbsp;github.com/thomasm1</a>
                        </h6>
                        <h6 class="two capitalize">
                            <span class="glyphicon glyphicon-download" aria-hidden="true"> </span>
                            <a target="_blank" href="dist/docs/CV_2018_MaestasThomas.pdf"> &nbsp;2018 CV Download</a>
                        </h6>
                        <h6 class="  lowercase">
                            <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>   <span style="color:lightskyblue"> <span class="capitalize">Albuquerque, NM; </span> </span>
                        </h6>
                    </div>

                </div>

            </div>
            <div>
                 
 
            </div>
            <iframe id="iframe" width="422" height="240" src="https://www.youtube.com/embed/RfJgT89hEME" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            <img src="dist/img/earthSpaceDefense.jpg" style="float:right;width:100%;" class="zoom">
                            <p style="text-align:right;">2015 casting as Earth Space Defense Major General, (blue) 4th from right; Trailer:@ 00:43</p>  
    <footer id="footer" class="footer"> 
           
    </footer> 
    </div>
 

</div>