<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
        <ul class="navbar-nav px-3">


            <ul>
                <li>
                    <br />
                    <a>CODING
                        <br />PORTFOLIO </a>
                    <ul>
                        <li>
                            <a href="dist/docs/CV_2018_MaestasThomas.pdf" target="_blank">CV-english</a>
                        </li>
                        <li>
                            <a href="dist/docs/docu/CV2017_frMaestasThomas_.pdf" target="_blank">CV-français</a>
                        </li>
                        <li>
                            <a href="http://hdl.handle.net/1928/31677" target="_blank">Education Thesis</a>
                        </li>
                        <li>
                            <a href="dist/docs/docu/DataPresentADD_health_networks.pdf" target="_blank">Education Data Analysis R-LaTeX</a>
                        </li>
                        <li>
                            <a href="dist/docs/docu/ADAHighSchoolNetworks.html" target="_blank">Education Data Analysis R-3.3</a>
                        </li>
                        <li>
                            <a href="dist/docs/docu/edregression.htm" target="_blank">Education Data Analysis SPSS-24</a>
                        </li>

                        <li>
                            <a href="https://public.tableau.com/profile/thomas.milton.maestas#!/vizhome/CarbonFootprint_1/C02NationTime"
                                target="_blank">Environment Data Analysis Tableau</a>
                        </li>
                        <li>
                            <a href="dist/docs/d3/globe_interact.html"> Data Visualization D3.js</a>
                        </li>


                    </ul>
                </li>
                <li>
                    <a>
                        <span class="caret">CONFERENCE
                            <br />PRESENTATIONS</span>
                    </a>
                    <ul>
                        <li>
                            <a href="http://tinyurl.com/gmtj4v4" target="_blank" style="width:350px;">
                                <span>
                                    <em>
                                        <strong>
                                            "Great Expectations Deferred: Contextualizing Community College Transfer Intentions"
                                            <br
                                            />
                                        </strong>
                                    </em>
                                </span>2016 ASA-American Sociological Conference
                                <br />@Seattle, WA</a>
                        </li>
                        <li>
                            <a href="http://hscmediasite.unm.edu/unm/Catalog/Full/6a7e058c7810440197da72484269d86c21/?state=JPIHdhLtVxTxyQQ2QHuG"
                                target="_blank" style="width:350px;">
                                <span>
                                    <strong>
                                        <em>
                                            "Social Determinants of Healthy Aging"
                                            <br />
                                        </em>
                                    </strong>
                                </span>Dec 2015 UNM Health Sciences Institute for Ethics Colloquium
                                <br />@Albuquerque, NM</a>
                        </li>
                        <li>
                            <a href="http://tinyurl.com/pcq6mjx" target="_blank" style="width:350px;">
                                <span>
                                    <i>
                                        <strong>"The Effects of Peer Association on Adolescents' Graduation Outcomes: An HLM
                                            Approach"
                                            <br />
                                        </strong>
                                    </i>
                                </span>2015 ASA Conference
                                <br />@Chicago, Illinois</a>
                        </li>
                        <li>
                            <a href="http://www.cpc.unc.edu/projects/addhealth/events/20140613AddHealthUsersConferenceAbstracts.pdf"
                                target="_blank" style="width:350px;">
                                <span>
                                    <em>
                                        <strong>
                                            "Great Expectations: A Study on the Determinants of College Graduation Expectations"
                                            <br
                                            />
                                        </strong>
                                    </em>
                                    2014 NIH-UNC Adolescent Health Data Users Conference, Session 6
                                    <br /> @Bethesda, Maryland
                                </span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>

            </ul>
            </nav>
            