 
    
    <title>TMM | About</title> 
       
    <link rel="stylesheet" href="dist/css/about.css" /> 
    <style> 
           
div#force.svgHolder {
   display:none;
}

    ul {
        list-style-type:none;
        padding:0;
    }
    ul li {
        padding:0;
    } 
        </style>
   
    <!-- multi_drop_menu END 1 -->
 
    <div >
    <div class="container">
                
          <img class="zoom" style="border:1px solid blue;border-radius: 30px 10px;width:120px;float:right;" src="dist/images/webCottonwood.jpg" />
<br /><br />
        <div id="thomas">     
<h4 class="secret" id="secret-button" ng-click="toggleSecretState()"></h4>
<p id="secret-paragraph">&nbsp;</p>
          </div> 
 

        <hr>

        <div class="row">

            <div class="col-xs-7 media mediat">
 

                    <div class="media-body">



                        <ul>
                            <li class="two">Mobile &amp; Web App Development :<br />
                                <small>
                                    <i> Vanilla JS, React 16, Angular 5, Modernizr</i>
                                </small>
                            </li>
                            <li class="one">Data Analysis and Visualization :<br />
                                <small>
                                    <i> Python Pandas, R, Plot.ly, D3-JS</i>
                                </small>
                            </li>
                            </small>
                            </li>

                            <li class="two">Language Translation :<br />
                                <small>
                                    <i> French, Spanish </i>
                                </small>
                            </li>

                            <li class="one">Statistical Syntax Translation :<br />
                                <small>
                                    <i> R 3.1-3.4 to/from Python 2.7-3.6</i>
                                </small>
                            </li>
                            </small>

                        </ul>
                      
                    </div>
 

            </div> 
          
            <div class="col-xs-5  mediat  ">


                <div class="row  "> 
                    <div class="col-lg-6 mediac  ">
                                <h4>Contact Information
                            <br /></h4>
              
<br />
                        <h6 class="two lowercase">
                            <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                            <a target="_blank" class= href="http://thomasmaestas.net">  &nbsp;www.thomasmaestas.net</a>
                        </h6>
                      


                        <h6 class="lowercase">
                            <span class="glyphicon glyphicon-envelope" aria-hidden="true"> </span>
                            <a target="_blank" href="mailto:thomas@ourdailytech.com">  &nbsp;thomas@ourdailytech.com</a>
                        </h6>
                        <h6 class="two lowercase">
                            <span class="glyphicon glyphicon-envelope" aria-hidden="true"> </span>
                            <a target="_blank" href="mailto:thomas@ourdailytech.com">  &nbsp;thomas.maestas@hotmail.com</a>
                        </h6>

                        <h6 class="  lowercase">
                            <span class="glyphicon glyphicon-screenshot" aria-hidden="true"></span>
                            <a target="_blank" href="https://github.com/thomasm1">  &nbsp;github.com/thomasm1</a>
                        </h6>
                        <h6 class="two capitalize">
                            <span class="glyphicon glyphicon-download" aria-hidden="true"> </span>
                            <a target="_blank" href="dist/docs/CV_2018_MaestasThomas.pdf"> &nbsp;2018 CV Download</a>
                        </h6>
                        <h6 class="  lowercase">
                            <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>   <span style="color:lightskyblue"> <span class="capitalize">Albuquerque, NM; </span> </span>
                        </h6>
                    </div>

                </div>

            </div>
            <div>
                 
 
            </div>
            <iframe id="iframe" width="422" height="240" src="https://www.youtube.com/embed/RfJgT89hEME" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            <img src="dist/images/earthSpaceDefense.jpg" style="float:right;width:100%;" class="zoom">
                            <p style="text-align:right;">2015 casting as Earth Space Defense Major General, (blue) 4th from right; Trailer:@ 00:43</p>  
    
    </div>
 

</div>