<title>TMM | Home</title>
<!-- 
   
 -->
<link rel="stylesheet" href="dist/css/iris.css" />
<style>

</style>

<script src="dist/js/d3/d3v4.min.js"></script>

<div id="home">


    <div class="charts">
      
  <div class="links ">
      <button class="datum" id="one">data source</button>
      <button  class="datum" id="two">data flux</button>
      <!--
    <button id="three">three</button>
    <button id="four">data transition</button>
    -->
      <button class="datum"  id="five">data transform</button>
      <button  class="datum" id="six"> data generation</button>
      <button class="datum" id="zero">clear</button>
      <pre>
      <span class="paper"><p class="zero"  > 
      GOOGLE CLOUD FIRESTORE -Firebase Hosting 
        <a href="https://ourdailytechdata.firebaseapp.com" target="_blank">https://ourdailytechdata.firebaseapp.com</a>
        Firestore Serverless Functions
        <a href="https://tm-host.firebaseapp.com" target="_blank">https://tm-host.firebaseapp.com</a> 
        <br />
      AMAZON WEB SERVICES
        Lambda Functions 
        <a href="http://abq-aws-thomas-maestas.s3-website-us-east-1.amazonaws.com" target="_blank">http://abq-aws-thomas-maestas.s3-website-us-east-1.amazonaws.com</a>
        S3 Hosting
        <a href="https://s3.amazonaws.com/tmm-nov/index.html" target="_blank">https://s3.amazonaws.com/tmm-nov/index.html</a> 
        AMAZON RDS + S3  DATABASE ENDPOINTS 
        AWS S3 Static NoSQL Storage
        <a href="https://s3.amazonaws.com/tmm-nov/posts/april.json" target="_blank">https://s3.amazonaws.com/tmm-nov/posts/april.json</a>
        Amazon RDS Relational PostgreSQL Database 
        <a  >sensor-instance.caq9hvksjohf.us-east-1.rds.amazonaws.com</a>
      </span>
    </p>
       
        <div class="d3 one"  ></div>
        <div  class="d3 two " width="463" height="350"> </div>
        <div class="d3 four">
        </div>
        <div class="d3 five">
    
        </div>
        <div class="d3 six">
        </div>
        <div class="d3 seven"></div>
        
      </pre>
      </div>
      </div>
  <div ng-include="'app/templates/home-nav.html'" class="side-nav"></div>

  <!--
  <script src="d3Chaining.js"></script>
  
  <script src="d3Chart.js"></script>
  
  <script src="d3Easing.js"></script>
  
  <script src="d3Filter.js"></script>
  
  <script src="transitionMulti.js"></script>
  
  <script src=""></script>
  
  <link rel="stylesheet" type="text/css" href="dist/css/styles.css" />
  -->

  <div class="svgHolder" id="force"></div>
  <script type="text/javascript" src="dist/js/d3/dag.js"></script>
</div>
