body { 
    margin: 0px 0px 0px 0px;
	padding-bottom:0px;
    padding-left:6px;
    padding-right:6px;
    padding-top:5px;
    background-color:silver;
    background-image: url('../img/bg-patt/silverchip.jpg');
    opacity:.9;
    border: 5px outset #eeeeee;
    border-top-left-radius:30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.container {
   	min-height:1550px;
   	font-family: 'Poppins', sans-serif;    
    	background-image: url('../img/bg-patt/bluechipTile.jpg');
	margin-top:10px;
  	margin-right: auto;
	margin-left: auto;
  	border: 5px outset #304bb6;
   	border-top-left-radius:30px;
	border-top-right-radius: 30px;
  	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
   	width: 92%;
	border-bottom-width: 0px;
	padding-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}

.primary_header { 
    text-align:center;
    width: 100%;  
	clear: left; 
}

.title {   
	text-align: center; 
	letter-spacing:4px; 
	color:white;  
	font-family: "courier new", Merriweather, 'Poppins', sans-serif;
    font-size:26pt;
     
}

#header {
    font-family:"courier new", courier, monospace;
 	color:blue;
	margin-bottom: 5px;
	text-align: center;
	padding-right: 10px;
    line-height:1.2em;
	padding-bottom: 2px;
	padding-left: 5px;
	padding-top: 5px;
	min-height: 100px;
}
#foot {
	margin-top:20px;
	padding-top:20px;
	color:blue;
    line-height:2em;
	background-color:white; 
    
}
#toggle {
text-decoration:underline;
color:red;} 
#toggle2 {
text-decoration:underline;
color:red;}
#textPhilosophy {
padding:0px;
margin:0px;
}
#textResearch {
padding:0px;
margin:0px;
}
// political blog
.blog { 
    float:left;  
  	max-height:430px;
	min-height:430px;
	width:100%;
	border:inset 2px silver;  
background-color:white;
padding:0px;
margin:0px;
} 
.blog h2 {
text-shadow: 3px 3px 3px #aaa;
font-size:1em;
border:solid .5px brown;
padding:3px 4px 3px 4px;
margin-bottom:5px;
} 
.blog h3 { 
color:gray; 
text-shadow: 3px 3px 3px #aaa;
}
.blog p {   
line-height:1.2em;
} 
.center {
text-align:center;
}
.rightalign {
text-align:right;
color:gray;
margin-right:0px;
margin-bottom:5px;
}
.twitter-follow-button {
 } 
#immigration  { 
margin-left:auto;
margin-right:auto;
border:2px outset silver; 
overflow-y:scroll; 
padding:0px;
margin:0px;
font-family: 'Merriweather', serif;
max-height:430px;
min-height:430px;
float:left; 
color:brown;
} 
#immigration h2 {
text-align:center;
}

#health  {
float:left;
margin-left:auto;
margin-right:auto;
border:2px outset silver; 
overflow-y:scroll; 
padding:0px;
margin:0px;
font-family: 'Merriweather', serif;
min-height:430px;
max-height:430px;  
color:brown; 

}
#health h2 {
text-align:center;
} 
.innerAcc {
max-height:215px;
padding:0px;
margin:0px; 
}
.innerSci {
max-height:215px;
padding:0px;
margin:0px;
} 
#textPhilosophy { 
}
.research  {  
width:50%;
margin-left:auto;
margin-right:auto;
border:3px outset #004ea5; 
overflow-y:hidden;
overflow-x:scroll; 
padding:5px;
font-family: 'Merriweather', serif;
min-height:430px;
max-height:430px;  
float:left; 
color:brown;
}
#cal {
padding-left:5px;
padding-right:5px;
max-width:40%;
float:right;
background-color:white;
opacity:9;
}

#console {
color:white;
padding-top:5px; 
width:50%; 
max-height:240px;
min-height:240px;
overflow-y:hidden;
}
#window {
    background-color:blue;
    width:100%;
	padding-left:10px;
	font-size: 19px;
    opacity:.7;
	color: yellow;
    margin-top:5px;
    margin-right:5px;
	margin-left:auto;
	margin-right:auto;
    padding-top:5px;
    height: 40px;
    line-height:1.2em;
}
.bu {
	width:36px;
    padding-right:1px;
    margin-right:1px;
	background-color: #9ac9e7;
}

#france {
color:white;
background-color:blue;
float:right;
text-decoration: none;
background-image: url('../img/fr_flag.png');
background-repeat:no-repeat;
}


 


#face {
 float:left;
 }

 
#portfolio {
display:none;
 }
#portfolio a:hover {
color:purple;
 }
#conference {
display:none;
}
#conference a:hover {
	 color:purple;
} 


 
.secondary_header {
	width: 100%;
	padding-top: 15px;
	padding-bottom: 15px;
    background-image: url('/assets/T30.png');
    clear: left;
}

.container .secondary_header ul {
	margin-top: 0%;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	padding: 0px 0px 0px 0px; 
	width: 100%;
}

.left_article {
    text-align:justify;
    height:450px;
    color:blue;
    background-color:yellow;
    padding:5px;
   	overflow-y:scroll;
    border-bottom-style:solid;
    border-bottom-color:yellow;
    border-bottom-width:2px;
    border-top-style:solid;
    border-top-color:yellow;
    border-top-width:2px;
	width: 65%;
	float: left; 


}

.noDisplay {
	display: none;

}

.container .left_article h3 {
	padding-left: 5%;
	padding-right: 5%;
    color:blue;
	color: #717070;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 22px;
}

.container .left_article p {
	padding-left: 5%;
	padding-right: 5%;
	text-align: justify;
	line-height: 22px;
    margin-bottom: 10px;
	color: blue;
}

.container .right_article ul {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}

.right_article {
	text-align:justify;
    color:blue;
    background-color:white; 
    border-bottom-style:solid;
    border-bottom-color:white;
    border-bottom-width:2px;
    border-top-style:solid;
    border-top-color:white;
    border-top-width:2px;
	width: 35%;
	float: left;
	font-family: "Source Sans Pro";
}

.right_article p {
	line-height: 22px;
    padding:5%;

}
.right_article ul li {
	font-family: "Source Sans Pro";
	list-style: none;
	text-align: center;
	background-color: #B3B3B3;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 15px;
	padding-bottom: 15px;
	color: blue;
	font-weight: bold;
	border-radius: 0px;
	transition: all 0.3s linear;
	border-left: 5px solid #717070;
}

.right_article ul li:hover {
	background-color: #717070;
	cursor: pointer;
}

.secondary_header ul li {
	list-style: none;
	float: left;
	margin-right: auto;
	margin-top: 0px;
	font-family: "Source Sans Pro";
	font-weight: normal;
	color: #FFFFFF;
	letter-spacing: 1px;
	margin-left: auto;
	text-align: center;
	width: 16%;
	transition: all 0.3s linear;
}

.secondary_header ul li:hover {
	color: #717070;
	cursor: pointer;
}

.container #rightmenu {

    width: 200px;

	float: right;

}

.container #center {

	width:290px;

padding: 15px ;

	 color:yellow;

	font-family:"courier new", courier, monospace;

	font-size:small;

}

 

.pieds {

    position: relative;
/* this gives IE6 hasLayout to properly clear

    clear: both;   this clear property forces the .container to understand where the columns end and contain them 

    font-family:"courier new", courier, monospace;

	font-size: 12px;

	color:yellow; 

	height: 30px;

	padding-top: 50px;

	padding-right: 0px;

	padding-bottom: 5px;

    margin-bottom:0px;

	padding-left: 0px;

}

#blog {

    text-align:justify;

    padding-left:30px;

	padding-right:30px;

	padding-top:10px;

	padding-bottom:5px;

    color:yellow;

	background-image: url('../assets/bluechip.jpg');

    height:300px;

	overflow-y:scroll;

    border-bottom-style:solid;

    border-bottom-color:white;

    border-bottom-width:1px;

    border-top-style:solid;

    border-top-color:white;

    border-top-width:1px;"

}

#conference {



    color:black;

    background-color:yellow;

    opacity:.55;

	margin-top:-50px;

    margin-left:-7px;

    max-width: 180px;

    min-width: 150px;

    border: 3px inset silver;

    border-top-left-radius:8px;

	border-top-right-radius: 8px;

    border-bottom-left-radius: 8px;

	border-bottom-right-radius: 8px;

}


#border3 {

    border-width: 3px;

	border-color: silver;

	border-top-style: outset;



}



 #r2 {



    padding-left:10px;

    width:45%;





}



#r1 {



    padding-left:10px;



    width:45%;



    float:left;



}




 
#form { 

	font-family:"courier new", courier, monospace;

	font-size: 14px;

	max-width: 260px;	



    margin-top:20px;

    margin-right:0px;

    padding-right:0px;

	padding-top: 5px;

	padding-bottom: 20px;

	border-top-style: none;

	border-left-style: none;

    border-right-style: none;

	border-bottom-style: none;

    border-top-left-radius:5px;

	border-top-right-radius: 5px;

    border-bottom-left-radius: 5px;

	border-bottom-right-radius: 5px;

	border-width: 3px;

	border-color: white;

	font-style: normal;

	color: #EFEFEF;

}


 
.yellow {
    background-image: url('../assets/tmm40.PNG');
	min-width:250px;
}
   background-image: url('../Sketching/assets/1330moonscape.jpg');
   background-image: url('../assets/2012-07-27green.jpg'); 
background-image: url('../Sketching/assets/19990123_040428.jpg'); 


#first {
	border-top-right-radius: 10px;
    border-top-left-radius: 10px;
	border-top-style: outset;
    border-width: 3px;
	border-color: silver;
    color:yellow;
    padding-top:5px;
    font-size: 13px; 
}
 
#last {

	border-bottom-style: outset;

	border-bottom-left-radius: 10px;

    border-bottom-right-radius: 10px;

    border-width: 3px;

	border-color: silver;

}
 

 
.menu {

background-color:white;

    font-family:"courier new", courier, monospace;

    font-size: 14px;

	color: black;

	padding-top: 12px;

	padding-right: 7px;

	padding-bottom: 12px;

	padding-left: 7px;

	text-transform: none;

	text-decoration: none;

	border-width: 3px;

	border-color: orange;

 	border-right-style: outset;

	border-left-style: outset;

	text-decoration: none;

    margin-left:auto;

	margin-right:auto;



}



.menu hover {

	background-color: #CCCCCC;

}



.menu:hover {



	color: purple;



	background-image: -webkit-linear-gradient(270deg,rgba(176,76,76,0.84) 0%,rgba(174,71,72,0.21) 23.83%,rgba(179,69,71,0.20) 43.52%,rgba(172,68,70,0.63) 68.39%,rgba(165,67,69,0.84) 92.75%,rgba(164,67,69,0.89) 94.30%);



	background-image: -moz-linear-gradient(270deg,rgba(176,76,76,0.84) 0%,rgba(174,71,72,0.21) 23.83%,rgba(179,69,71,0.20) 43.52%,rgba(172,68,70,0.63) 68.39%,rgba(165,67,69,0.84) 92.75%,rgba(164,67,69,0.89) 94.30%);



	background-image: -o-linear-gradient(270deg,rgba(176,76,76,0.84) 0%,rgba(174,71,72,0.21) 23.83%,rgba(179,69,71,0.20) 43.52%,rgba(172,68,70,0.63) 68.39%,rgba(165,67,69,0.84) 92.75%,rgba(164,67,69,0.89) 94.30%);



	background-image: linear-gradient(180deg,rgba(176,76,76,0.84) 0%,rgba(174,71,72,0.21) 23.83%,rgba(179,69,71,0.20) 43.52%,rgba(172,68,70,0.63) 68.39%,rgba(165,67,69,0.84) 92.75%,rgba(164,67,69,0.89) 94.30%);



	color: #494949;



	text-decoration: none;



	font-style: normal;



}



.menu a {



	text-decoration: none;



	color: white;

    font-weight: bold;

	font-weight: 600;

	font-size: 14px;

}



.menu  a:hover 



{



	color: purple;



}





.menu2 {

background-color:white;

	font-family:"courier new", courier, monospace;

   min-width: 220px;

	font-size: 14px;



	color: black;



    list-style-image: none;



	list-style-type: none;



	



	padding-top: 12px;





	padding-right: 12px;



	padding-bottom: 12px;



	padding-left: 12px;



	text-transform: none;



	text-decoration: none;



	float: right;



	height: 25px;







	border-width: 3px;



	border-right-style: outset;



	border-color: silver;



	border-left-style: outset;



	text-decoration: none;



}



#first2 {

	



    border-top-right-radius: 10px;



    border-top-left-radius: 10px;



	border-top-style: outset;



    border-width: 3px;



	border-color: silver;



    }



#last2 {



	border-bottom-style: outset;



	border-color:silver;



    border-width: 3px;



	border-bottom-right-radius: 30px;



    border-bottom-right-radius: 10px;



}



.menu2 hover {



	background-color: #CCCCCC;



}



.menu2:hover {



	background-color: purple;



	background-image: -webkit-linear-gradient(270deg,rgba(176,76,76,0.84) 0%,rgba(174,71,72,0.21) 23.83%,rgba(179,69,71,0.20) 43.52%,rgba(172,68,70,0.63) 68.39%,rgba(165,67,69,0.84) 92.75%,rgba(164,67,69,0.89) 94.30%);



	background-image: -moz-linear-gradient(270deg,rgba(176,76,76,0.84) 0%,rgba(174,71,72,0.21) 23.83%,rgba(179,69,71,0.20) 43.52%,rgba(172,68,70,0.63) 68.39%,rgba(165,67,69,0.84) 92.75%,rgba(164,67,69,0.89) 94.30%);



	background-image: -o-linear-gradient(270deg,rgba(176,76,76,0.84) 0%,rgba(174,71,72,0.21) 23.83%,rgba(179,69,71,0.20) 43.52%,rgba(172,68,70,0.63) 68.39%,rgba(165,67,69,0.84) 92.75%,rgba(164,67,69,0.89) 94.30%);



	background-image: linear-gradient(180deg,rgba(176,76,76,0.84) 0%,rgba(174,71,72,0.21) 23.83%,rgba(179,69,71,0.20) 43.52%,rgba(172,68,70,0.63) 68.39%,rgba(165,67,69,0.84) 92.75%,rgba(164,67,69,0.89) 94.30%);



	color: #494949;



	text-decoration: none;



	font-style: normal;



}

 

.menu2 a {



	text-decoration: none;



	color: white;



	font-family:"courier new", courier, monospace;



	font-weight: bold;



	font-weight: 600;



	font-size: 14px;



}



.menu2  a:hover 



{



	color: purple;



}



#containerP {



	width: 820px;



	margin-right: auto;



	margin-left: auto;



	border-width: outset;



	border-color: #972B2C;



}



#containerP img {



	margin-top: 15px;



	margin-right: 15px;



	margin-bottom: 15px;



	margin-left: 0px;



	border-style: outset;



	border-color: #8E2A2C;



}

 






.row {

	width: 100%;

	margin-top: 0px;

	margin-right: 0px;

	margin-bottom: 0px;

	margin-left: 0px;

	padding-top: 0px;

	padding-right: 0px;

	padding-bottom: 0px;

	padding-left: 0px;

	display: inline-block

}

.row.blockDisplay {

	display: block;

}

.column_half {

	width: 50%;

	float: left;

	margin-top: 0px;

}

.columns {

	width: 25%;

	float: left;

	font-family: "Source Sans Pro";

	color: #A5A5A5;

	line-height: 24px;

	padding-top: 10px;

	padding-bottom: 10px;

	text-align: justify;

	margin-top: 15px;

	margin-bottom: 15px;

	padding-left: 0px;

	padding-right: 0px;

	margin-left: 0px;

	margin-right: 0px;

}

.row .columns p {

	padding-left: 10%;

	padding-right: 10%;

}
 


.container .columns h4 {

	text-align: center;

	color: #01B2D1;

}

.placeholder {

	/* [disabled]max-width: 400px;

*/

	/* [disabled]max-height: 200px;

*/

	width: 100%;

	padding-top: 30px;

	/* [disabled]padding-left: 19px;

*/

	padding-bottom: 30px;

	height: 100%;

}

.left_half {

	background-color: #52BAD5;

		color: #FFFFFF;

	font-family: "Source Sans Pro";

	text-align: center;

	font-weight: bold;

}

.container .column_half .left_half h2 {

	color: #FFFFFF;

	font-family: "Source Sans Pro";

	text-align: center;

}

.container .column_half .left_half h2 a:hover {

	color: #FFFFFF;

	font-family: "Source Sans Pro";

	text-align: center;

}

.right_half {

	background-color: white;

	color: #FFFFFF;

	font-family: "Source Sans Pro";

	text-align: center;

	font-weight: bold;

}

.column_title {

	padding-top: 20px;

	padding-bottom: 20px;

		text-decoration:none;

}

.column_title h2 {

	text-decoration:none;

}



@media (max-width: 320px) {

.secondary_header ul li {

	float: none;

	margin-top: 28px;

	margin-left: 0px;

	width: 25%;

}



.container .secondary_header ul {

	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	height: auto;
	width: 100%;
	text-align: center;
}

.secondary_header {

	margin-top: 0px;

	margin-right: 0px;

	margin-bottom: 0px;

	margin-left: 0px;

	padding-top: 1px;

	padding-bottom: 20px;


}

 

 
.placeholder {

	width: 100%;

	margin-top: 22PX;

	margin-right: 0px;

	margin-bottom: 22PX;

	margin-left: 0px;

	padding-top: 0px;

	padding-right: 0px;

	padding-bottom: 0px;

	padding-left: 0px;

	max-width: 400px;

	max-height: 200px;

	height: auto;

}
 
.columns {

	width: 100%;

	margin-top: 0px;

	margin-right: 0px;

	margin-bottom: 0px;

	margin-left: 0px;

	padding-top: 0PX;

	padding-right: 0PX;

	padding-bottom: 0PX;

	padding-left: 0PX;

}

.columns p {

	padding-left: 10px;

	padding-right: 10px;

}

.column_half.left_half {

	width: 100%;

}

.column_half.right_half {

	width: 100%;

}
 
	 



.container .left_article h3 {

	margin-top: 30px;

}

.social .social_icon img {

	width: 80%;

}

.container .secondary_header {

}

}



@media (min-width: 321px) and (max-width: 768px) {

.secondary_header ul li {

	float: none;

	margin-top: 28px;

		margin-left: 0px;

	width: 100%;

}

.container .secondary_header ul {

	margin-top: 0px;

	margin-right: 0px;

	margin-bottom: 0px;

	margin-left: 0px;

	padding-top: 0px;

	padding-right: 0px;

	padding-bottom: 0px;

	padding-left: 0px;

	height: auto;

	width: 100%;

	text-align: center;

}

.secondary_header {

	margin-top: 0px;

	margin-right: 0px;

	margin-bottom: 0px;

	margin-left: 0px;

	padding-top: 1px;

	padding-bottom: 40px;

}

.left_article {

	width: 100%;

	height: auto;

}

.right_article {

	width: 100%;

	height: auto;

	padding-top: 15px;

	padding-bottom: 5px;

}

.placeholder {

	margin-top: 0px;

	margin-right: 0px;

	margin-bottom: 0px;

	margin-left: 0px;

	padding-top: 0px;

	padding-right: 0px;

	padding-bottom: 0px;

	padding-left: 0px;

	width: 100%;

	max-width: 100%;

	height: auto;

	max-height: 100%;

}

.columns {

	width: 100%;

	margin-top: 6px;

	margin-right: 0px;

	margin-bottom: 6px;

	margin-left: 0px;

	padding-top: 0px;

	padding-right: 0px;

	padding-bottom: 0px;

	padding-left: 0px;

}

.columns p {

	padding-left: 14px;

	padding-right: 14px;

}

.column_half.left_half {

	width: 100%;

}

.column_half.right_half {

	width: 100%;

}

}



@media (min-width: 769px) and (max-width: 1000px) {

.secondary_header {

	overflow: auto;

	padding-top: 30px;

	padding-bottom: 30px;

}

.secondary_header ul li {

	margin-top: 10px;

	margin-right: 7%;

	margin-bottom: 10px;

	margin-left: 7%;

}

.left_article {

	height: auto;

}

.right_article {

	height: auto;

	padding-bottom: 27px;

}

.placeholder {

	width: 100%;

	margin-left: 0px;

	margin-right: 0px;

	padding-left: 0px;

	padding-right: 0px;

}

.columns {

	width: 50%;

	float: left;

	padding-left: 0px;

	padding-top: 0px;

	padding-right: 0px;

	padding-bottom: 0px;

}

.container .columns p {

	padding-left: 25px;

	padding-right: 25px;

}

}



@media (min-width: 1001px) {

}

.thumbnail {

	width: 60px;

	background-color:teal;

	border-radius: 200px;

	height: 60px;

	margin-left: auto;

}

.thumbnail_align {

	text-align: center;

	transition: all 0.3s linear;

}

.container .thumbnail .thumbnail_align:hover {

	cursor: pointer;

	opacity: 0.5;

	}

.social {

	text-align: center;

	margin-right: 0px;

	margin-bottom: 0px;

	margin-left: 0px;

	width: 100%;

	background-color: #414141;

	clear: both;

	overflow: auto;

}

.social_icon {

	width: 25%;

	text-align: center;

	float: left;

	transition: all 0.3s linear;

	line-height: 0px;

	padding-top: 7px;

}

.container .social .social_icon:hover {

	cursor: pointer;

	opacity: 0.5;

} 

/* calculator */

/* Basic reset */

/* Finally adding some IE9 fallbacks for gradients to finish things up */



/* A nice BG gradient */


* {

	margin: 0;

	padding: 0;

	box-sizing: border-box;

	

	/* Better text styling */

 

}



html {

	height: 100%;

	background: white;

	background: radial-gradient(circle, #fff 20%, #ccc);

	background-size: cover;

} 

/* Dynamic Drive Socia Media */

div.slideouticons{ /* main container for slide out icons */ 
	position: relative; /* change position to fixed or absolute if desired */
	-webkit-perspective: 1000px;
	perspective: 1000px;
	z-index: 1000;

}

div.slideouticons input{
	display: none;
}

div.slideouticons label.mainlabel{ /* menu anchor icon style */
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	cursor: pointer;
	font-size: 24px; /* font size, pertains to icon fonts specifically */
	width: 50px; /* width of anchor icon */
	height: 50px; /* height of anchor icon */
	text-align: center;
	color: white;
	background: #80C5EC;
	border-radius: 50%;
	outline: none;
	z-index: 100000;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}


div.slideouticons div.iconswrapper{ /* DIV that flips over to reveal the hidden icons */
	position: absolute;
	margin: 0;
	top: 60px; /* vertical offset of icons wrapper from the top of main container */
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transition-delay: 0.5s;
	transition-delay: 0.5s;
}


div.slideouticons div.iconswrapper ul{
	position: relative;
	list-style: none;
	margin: 0;
	padding: 0;
	z-index: -1;
}

div.slideouticons div.iconswrapper ul li{
	margin-bottom: 10px;
	position: relative;
	opacity: 0;
	width: 50px; /* width of social icons */
	height: 50px; /* height of social icons */
	-webkit-transform: translateY(-100%) rotate(0);
	transform: translateY(-100%) rotate(0);
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}


div.slideouticons div.iconswrapper ul li a{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	color: white;
	text-decoration: none;
	text-align: center;
	font-size: 24px; /* font size, pertains to icon fonts specifically */
	width: 100%;
	height: 100%;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	text-align: center;
	background: #80C5EC; /* background color of icons */
	text-decoration: none;
	border-radius: 50%;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}


div.slideouticons div.iconswrapper ul li a:hover{
	background: #515151; /* background color of icons on hover */
	color: white;
}

div.slideouticons input:checked ~ label.mainlabel{
	background: navy; /* background color of toggler icon when activated */
}

div.slideouticons input:checked ~ div.iconswrapper{ /* flip icons wrapper to reveal icons when activated */
	-webkit-transform: rotateY(0);
	transform: rotateY(0);
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}

div.slideouticons input:checked ~ div.iconswrapper ul li{ /* rotate and shift icons into view when activated */
	opacity: 1;
	-webkit-transform: translateY(0) rotate(360deg);
	transform: translateY(0) rotate(360deg);
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

div.slideouticons input:checked ~ div.iconswrapper ul li:nth-of-type(1){
	-webkit-transition-delay: 0;
	transition-delay: 0;
	z-index: 4;
}

div.slideouticons input:checked ~ div.iconswrapper ul li:nth-of-type(2){
	-webkit-transition-delay: 0.3s;
	transition-delay: 0.3s; /* increment delay by 0.3s for each icon */
	z-index: 3; /* decrement z-index by 1 for each icon */
}

div.slideouticons input:checked ~ div.iconswrapper ul li:nth-of-type(3){
	-webkit-transition-delay: .6s;
	transition-delay: .6s;
	z-index: 2;
}

div.slideouticons input:checked ~ div.iconswrapper ul li:nth-of-type(4){
	-webkit-transition-delay: .9s;
	transition-delay: .9s;
	z-index: 1;
}


/* ########## Horizontal Version CSS ########## */

div.slideouticons.horizontal div.iconswrapper{
	top: 0;
	left: 60px; /* horizontal offset of icons wrapper from the left of main container */
}


div.slideouticons.horizontal div.iconswrapper ul li{
	display: inline;
	float: left;
	margin-bottom: 0;
	margin-right: 10px;
	-webkit-transform: translateX(-100%) rotate(0);
	transform: translateX(-100%) rotate(0);
}


div.slideouticons.horizontal input:checked ~ div.iconswrapper ul li{
	-webkit-transform: translateX(0) rotate(360deg);
	transform: translateX(0) rotate(360deg);
}

</style>

<!--[if lte IE 9]>
	<style>
	
		div.slideouticons div.iconswrapper{
			visibility: hidden;
		}
		div.slideouticons input:checked ~ div.iconswrapper{
			visibility: visible;
		}
	
	</style>

<![endif]-->

<!--[if lte IE 8]>
	<style>
	
		div.slideouticons{
			display: none;
		}

	</style>


<![endif]-->

<!--  BEGINNING MENUU -->

.multi_drop_menu {

font:1em tahoma, geneva, sans-serif;

}

.multi_drop_menu a {

display:block;



color:blue;

background-color:#9ac9e7;

padding:.3em 1em;



border-width:4px;

border-color:transparent;

}

.multi_drop_menu a:hover {

color:#fff;

background-color:yellow;

}

.multi_drop_menu a:active {

background:purple;

color:#ccc;

}

.multi_drop_menu * {margin:0; padding:0;}

.multi_drop_menu ul {float:left;width:100%;}

.multi_drop_menu ul li {

	z-index:99;

	  width:25%;

float:left;

list-style-type:none;

position:relative;

 

}



.multi_drop_menu li {

     

float:left;

list-style-type:none;

position:relative;

}

.multi_drop_menu li a {
text-align:center;
display:block;

	 
border-right-style:none;

background-clip:padding-box;


text-decoration:none;

}

.multi_drop_menu li:last-child a {

border-right-style:none;}

.multi_drop_menu li ul {display:none;}



/*visual */

.multi_drop_menu li ul { 

 


background-color:transparent;

}

.multi_drop_menu li li a {

border-right-style: none;
text-align:left;
border-top-style:solid;
border-top-color:transparent;

}

/*functional addition */

.multi_drop_menu li ul {

display:block;

position:absolute;

left:0;

top:100%;

}

.multi_drop_menu li li {

float:none;

width:50px;

}

.multi_drop_menu li li ul {

display:none;

}



/*      */

.multi_drop_menu li ul {

display:none;

position:absolute;

left:0;

top:100%;

}

.multi_drop_menu li:hover > ul {

display:block;

}

li ul {

display:none;

}

li:hover > ul {

display:block;

}

.multi_drop_menu li li ul {

position:absolute;

left:100%;

top:0;

}

.multi_drop_menu li:hover > a {

color:#fff;

background-color:blue;

}



.multi_drop_menu ul li ul li a {

    width:180px;

}

 

