<!DOCTYPE html>

<html lang="en">
<head>
 <meta charset="utf-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <meta name="description" content="data analysis and visualization, sociology and criminology statistical tests">
 <meta name="keywords" content="data analysis and visualization, sociology and criminology statistical tests">
 <meta name="author" content="Thomas M Maestas"> 
 
<title>TMM Profile</title> 
 <script src="assets/js/jquery-3.2.1.min.js"></script>
<script src="assets/js/tether.min.js"></script>
<script src="assets/js/chart.js"></script>
<script src="assets/js/toolkit.js"></script>
<script src="assets/js/application.js"></script>
<script src="assets/js/d3js.js"></script>
<script src="http://d3js.org/d3.v3.min.js"></script> 

<script type="text/javascript"> 
       var dataImm;
            $.ajax("textImm") 
                .done(function(dataImm) { 
                $("#textImm").html(dataImm); 
                })
                 .fail(function() {
        //  alert("Data download failed");
                }); 
</script>



    

<script type="text/javascript">
        var dataHeal;
            $.ajax("textHeal")
                .done(function(dataHeal) { 
                $("#textHeal").html(dataHeal); 
                }) 
                .fail(function() {
       //         alert("Could not get data");
                });  
</script>
     
<style type="text/css">
            #textImm {
                display:none;	}
            #textHeal {
                display:none;    }
        </style>
<script type="text/javascript"> 

function draw(geo_data) {
 "use strict";
 var margin = 5,
 width = 500 - margin,
 height = 300 - margin; 
 d3.select("#div5")
 .attr('text-align', 'center')
 .attr('margin', '0px')
 ;
  d3.select("body").transition()
 .duration(2000)
 .delay(100)
 .style("background-color", "silver");

 var svg = d3.select("#div5")
 .append("svg")
 .attr("width", width + margin)
 .attr("height", height + margin) 
 .append('g')
 .attr('class', 'map'); 

 var projection = d3.geo.mercator()
 .scale(90)
 .translate([width / 2, height / 1.5]); 

 var path = d3.geo.path().projection(projection); 
 var map = svg.selectAll('path')
 .data(geo_data.features)
 .enter()
.append('path')
 .attr('d', path)
 .style('fill', '#00b0ec')
 .style('stroke', 'white')
 .style('stroke-width', 0.5); 
 };
 /*
GeoJSON file
 */
d3.json("data/world_countries.json", draw);
</script>

<script type="text/javascript"> 
var inputString = ""; 
function updateString(value) { 
 inputString += value; 
 document.forms[1].input.value = inputString; 
} 
</script> 

<script>
 // execute/clear BS loaders for docs
 $(function(){
 if (window.BS&&window.BS.loader&&window.BS.loader.length) {
 while(BS.loader.length){(BS.loader.pop())()}
 }
 })
</script> 

 <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
 <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
 <link href="assets/css/toolkit.css" rel="stylesheet">
 <link href="assets/css/application.css" rel="stylesheet">


</head>












<body class="with-top-navbar"> 
<div class="growl" id="app-growl"></div> 
<nav class="navbar navbar-toggleable-sm fixed-top navbar-inverse bg-primary app-navbar">
<button
 class="navbar-toggler navbar-toggler-right hidden-md-up"
 type="button"
 data-toggle="collapse"
 data-target="#navbarResponsive"
 aria-controls="navbarResponsive"
 aria-expanded="false"
 aria-label="Toggle navigation">
 <span class="navbar-toggler-icon"></span>
 </button> 
 <a class="navbar-brand" href="index.html"><img src="assets/img/TMMblueTrans.png"alt="TMM logo"class="tmm"/></a> 
 
 <div class="collapse navbar-collapse multi_drop_menu main" id="navbarResponsive">
 <ul class="navbar-nav mr-auto">
 <li class="nav-item active">
 <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
 </li>
 <li class="nav-item"><a class="nav-link" >Profile</a>
<ul>
<li><a href="profile/tmaestas_resume.html" target="_blank">CV-english</a></li>
<li><a href="docs/docu/MaestasThomas_CV2017_fr.pdf" target="_blank">CV-français</a></li>
<li><a href="http://hdl.handle.net/1928/31677" target="_blank">Education Thesis</a></li>
<li><a href="docs/docu/DataPresentADD_health_networks.pdf" target="_blank">Education Data Analysis R-LaTeX</a></li>
<li><a href="docs/docu/ADAHighSchoolNetworks.html" target="_blank">Education Data Analysis R-3.3</a></li>
<li><a href="docs/poli/edregression.htm" target="_blank">Education Data Analysis SPSS-24</a></li>
<li><a href="https://public.tableau.com/profile/thomas.milton.maestas#!/vizhome/CarbonFootprint_1/C02NationTime" target="_blank">Environment Data Analysis Tableau</a></li>
<li><a href="d3/arc.html" > Data Visualization D3.js</a></li>
 </ul>
 </li> 

<li class="nav-item">
<a class="nav-link"  >Conferences</a>
<ul>
<li><a href="http://tinyurl.com/gmtj4v4" target="_blank" style="width:350px;" ><span> 
"Great Expectations Deferred: Contextualizing Community College Transfer Intentions"<br /> </span>2016 ASA-American Sociological Conference<br />@Seattle, WA</a>
</li>
<li>
<a href="http://hscmediasite.unm.edu/unm/Catalog/Full/6a7e058c7810440197da72484269d86c21/?state=JPIHdhLtVxTxyQQ2QHuG"
 target="_blank" style="width:350px;"><span> "Social Determinants of Healthy Aging"<br /> 
 </span>Dec 2015 UNM Health Sciences Institute for Ethics Colloquium<br />@Albuquerque, NM</a>
 </li>
 <li><a href="http://tinyurl.com/pcq6mjx"
 target="_blank" style="width:350px;"><span> "The Effects of Peer Association on Adolescents' Graduation Outcomes: An HLM Approach" <br /> </span>2015 ASA Conference<br />@Chicago, Illinois</a>
 </li>
 <li><a href="http://www.cpc.unc.edu/projects/addhealth/events/20140613AddHealthUsersConferenceAbstracts.pdf" 
 target="_blank" style="width:350px;" ><span> 
 "Great Expectations: A Study on the Determinants of College Graduation Expectations"<br /> 
 2014 NIH-UNC Adolescent Health Data Users Conference, Session 6<br /> @Bethesda, Maryland
 </span></a>
 </li>
 </ul></li>


 <li class="nav-item"><a class="nav-link" >API</a>
<ul>
<li  style="z-index:1;"><a href="docs/php/weatherAPI.php" >Weather-Map API</a></li>
<li><a href="docs/d3/planet.html">Planets</a></li>
	<li  ><a href="docs/d3/mobilesuits.html">Mobile Law Suits</a></li>
	<li style="z-index:2"><a href="docs/d3/color.html">Colors</a></li>
	<li style="z-index:2"><a href="docs/d3/flow.html">Flow</a></li>
	<li style="z-index:2"><a href="docs/d3/dendrogram.html">Dendrogram</a></li>
	<li style="z-index:2"><a href="docs/d3/alphabet.html">Alphabet Graph</a></li>    
    <li style="z-index:2"><a href="docs/d3/globe_update.html">World Cup Map</a></li> 
 </ul>
 </li>     
  
<li class="nav-item"><a  class="nav-link"><span class="caret">CODING </span><br /></a>
<ul><li style="z-index:100;"><a >Web Reference ::</a>
<ul>
<li style="z-index:100;"><a href="http://webreference.com/" target="_blank">Web Reference</a></li>
<li><a href="https://developer.mozilla.org" target="_blank">Mozilla Dev</a></li>
<li><a href="http://support.google.com/webmasters/?hl=en" target="_blank">Google Dev</a></li>
<li><a href="http://developer.yahoo.com/" target="_blank">Yahoo! Dev</a></li>
<li><a href="http://www.w3schools.com" target="_blank">W3 schools</a></li> 
<li><a href="http://www.w3.org/" target="_blank">World Wide Web Consortium</a></li> 
<li><a href="https://www.icann.org" target="_blank">ICANN</a></li>
</ul></li>

<li style="z-index:98.2;"><a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> D3 tools ::<span class="caret"></span></a>
<ul class="dropdown-menu">
<li style="z-index:98" ><a href="http://d3js.org" target="_blank">D3js</a></li> 
<li style="z-index:98.5" ><a href="https://github.com/d3/d3-3.x-api-reference/blob/master/API-Reference.md">d3.v3</a></li>
<li style="z-index:98.5" ><a href="https://chartio.com/" target="_blank">chartio</a></li>
<li style="z-index:98.5" ><a href="http://code.shutterstock.com/rickshaw/" target="_blank">rickshaw</a></li>
<li style="z-index:98.5" ><a href="http://rawgraphs.io/" target="_blank">rawgraphs.io </a></li>
<li style="z-index:98.5" ><a href="http://dimplejs.org" target="_blank">dimplejs</a></li>
<li style="z-index:98.5" ><a href="http://nvd3.org/" target="_blank">nvd3</a></li>
<li style="z-index:98.5" ><a href="https://developer.mozilla.org/en-US/docs/Web/SVG" target="_blank">SVG</a></li>
<li style="z-index:98.5" ><a href="https://www.khronos.org/webgl/" target="_blank">WebGL</a></li>
<li style="z-index:98.5" ><a href="https://developer.mozilla.org/en-US/docs/Web/API/Canvas_API" target="_blank">Canvas</a></li>
<li style="z-index:98.5" ><a href="http://alignedleft.com/tutorials/d3/binding-data" target="_blank">binding-data</a></li>
<li style="z-index:98.5" ><a href="http://datajournalismhandbook.org/1.0/en/getting_data_3.html" target="_blank">getting_data</a></li>
<li style="z-index:98.5" ><a href="https://developer.mozilla.org/en-US/docs/Web/API/Canvas_API" target="_blank">Canvas</a></li>
<li style="z-index:98.5" ><a href="https://github.com/d3/d3/blob/master/CHANGES.md" target="_blank">d3.v4 changes</a></li>
<li style="z-index:98" ><a href="https://github.com/d3/d3/blob/master/API.md" target="_blank">D3js APIs</a></li>
</ul>
</li> 

<li style="z-index:98;"><a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Javascript ::<span class="caret"></span></a>
<ul class="dropdown-menu"> 
<li style="z-index:98" ><a href="http://jqueryui.com" target="_blank">jQueryUI</a></li>
<li style="z-index:98" ><a href=" http://jquery.com/" target="_blank">jQuery</a></li>
<li style="z-index:98" ><a href="https://jsbin.com" target="_blank">JS Bin</a></li>
<li style="z-index:98" ><a href="https://developer.mozilla.org/en-US/docs/Web/API" target="_blank">JavaScript APIs</a></li> 
</ul></li> 

<li style="z-index:10 ;"><a>Datasets ::</a> 
<ul>
<li style="z-index:10 ;"><a href="http://www.icpsr.umich.edu/icpsrweb/ICPSR/index.jsp" target="_blank">ICPSR Datasets</a></li>
<li style="z-index:10 ;"><a href="http://data.imf.org/?sk=7CB6619C-CF87-48DC-9443-2973E161ABEB" target="_blank">Datasets IMF</a></li>
</ul></li>
 

<li style="z-index:9;"><a>Validators ::</a>
<ul >
<li style="z-index:9;"><a href="https://stats.idre.ucla.edu/other/dae/" target="_blank">Validators</a></li>
<li><a href="http://validator.w3.org" target="_blank">HTML validator</a></li>
<li><a href="http://jigsaw.w3.org/css-validator/" target="_blank">CSS validator</a></li>
<li><a href="http://jsonlint.com/" target="_blank">JSON Validator</a></li>
</ul>
</li>

<li style="z-index:1;"><a href="http://html-color-codes.info/" target="_blank">Color Codes</a></li>
<li style="z-index:1;"><a href="https://inkscape.org/en/" target="_blank">Inkscape</a></li>
<li style="z-index:1;"> <a href="https://v4-alpha.getbootstrap.com" target="_blank">Bootstrap</a></li>
<li style="z-index:1;"><a href="http://www.dynamicdrive.com/" target="_blank">Dynamic Drive</a></li>
<li style="z-index:1;"><a href="http://php.net" target="_blank">PHP.net</a></li>
<li><a href="http://www.useit.com/" target="_blank">Jakob Nielson</a></li>
<li><a href="http://www.alistapart.com/" target="_blank">A List Apart</a></li>
<li><a href="http://codepen.io/" target="_blank">codepen.io</a></li>
<li><a href="http://www.sitepoint.com/" target="_blank">sitepoint</a></li> 
<li  ><a href="http://www.kaggle.com" target="_blank">Kaggle</a></li>
<li><a href="http://plnkr.co/" target="_blank">Plunker</a></li>
<li><a href="https://github.com" target="_blank">GitHub</a></li>
<li><a href="https://gist.github.com/" target="_blank">Gist<small>GitHub</small></a></li>
<li><a href="http://stackoverflow.com" class="last" target="_blank">Stack Overflow</a></li>
<li><a href="https://www.torproject.org/" target="_blank">Tor</a></li>
<li><a href="https://www.virtualbox.org/" target="_blank">Virtual Box</a></li>

    </ul>
    </li>
<li class="nav-item"><a  class="nav-link"><span class="caret">TOOLS</span><br /> </a>
<ul>

<li style="z-index:101;"><a>Stat Resources ::</a>
<ul >
<li style="z-index:101;"><a href="https://stats.idre.ucla.edu/other/dae/" target="_blank">Stats</a></li>
<li style="z-index:101;"><a href="http://openrefine.org/" target="_blank">OpenRefine</a></li>
<li style="z-index:102;"><a href="http://statacumen.com" target="_blank">Stat Acumen</a></li>
<li style="z-index:102;"><a href="http://www.mapageweb.umontreal.ca/durandc/" target="_blank">Montreal Stats</a></li>
</ul></li> 


<li style="z-index:12;"><a>SQL</a>
<ul>
    
<li style="z-index:12;"><a href="https://www.mysql.com/" target="_blank">MySQL</a></li>
<li style="z-index:121;"><a href="http://www.oracle.com/technetwork/developer-tools/apex/overview/index-155186.html" target="_blank">Oracle Express</a></li>
<li style="z-index:121;"><a href="http://iacademy.oracle.com" target="_blank">Application Express</a></li>
</ul></li>  

<li style="z-index:1;"><a href="https://www.r-project.org/" target="_blank">R-Project ::</a> 
<ul>
<li><a href="https://www.rstudio.com/" target="_blank">RStudio</a></li>
<li><a href="https://shiny.rstudio.com/" target="_blank">Shiny</a></li>
<li><a href="http://amsantac.co/blog/en/2015/10/31/qgis-r.html" target="_blank">Open GIS</a></li>
<li><a href="http://www.tableau.com/products/cloud-bi" target="_blank">Tableau </a></li>
</ul></li>
</ul>
</li> 
</ul> 
</div> 


 
 <form class="form-inline float-right hidden-sm-down"><!--
 <input class="form-control" type="text" id="search" data-action="grow" placeholder="Search">-->
 </form>

 <div  class="slideouticons horizontal slideout">
 <input type="checkbox" id="togglebox" />
 <label for="togglebox" class="mainlabel fa fa-share-alt"></label>

 <div class="iconswrapper">
 <ul>
 <li><a href="https://twitter.com/ThomasMaestas" target="_blank" class="fa fa-twitter" title="Twitter"></a></li>
 <li><a href="https://facebook.com/thomas.maestas.16" target="_blank" class="fa fa-facebook" title="Facebook"></a></li>
 <li><a href="https://plus.google.com/+thomasmaestas2017" target="_blank" class="fa fa-google-plus" title="Google Plus"></a></li>
 <li><a href="https://www.instagram.com/thomasmaestas/" target="_blank" class="fa fa-instagram"></a></li>
 </ul>
 </div>
 </div>

 <!--

 <ul id="#js-popoverContent" class="nav navbar-nav float-right mr-0 hidden-sm-down">

 <li class="nav-item">

 <a class="app-notifications nav-link" href="notifications/index.html">

 <span class="icon icon-bell"></span>

 </a>

 </li>

-->

 <li class="nav-item ml-2">

 <button class="btn btn-default navbar-btn navbar-btn-avatar" data-toggle="popover">

 <img class="rounded-circle profile" src="assets/img/profile.jpg"/>

 </button>

 </li>

 </ul>

 <ul class="nav navbar-nav hidden-xs-up" id="js-popoverContent">

 <li class="nav-item"><a class="nav-link" href="docs/php/email.php">Email</a></li> <br />
 <li class="nav-item"><a class="nav-link" href="profile/tmaestas_resume">CV</a></li> <br />  

 </ul>

 </div>

</nav>

<div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="userModal" aria-hidden="true">

 <div class="modal-dialog">

 <div class="modal-content">

 <div class="modal-header"> <h4 class="modal-title"><a href="#" target="_blank">bourdieu</a></h4> 

 <h4 class="modal-title"><a href="#" target="_blank">althusser</a></h4> 

 <h4 class="modal-title"><a href="#" target="_blank">marx</a></h4> 

 <h4 class="modal-title"><a href="#" target="_blank">hegel</a></h4>

 <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>

 </div> 
 <div class="modal-body p-0">
 <div class="modal-body-scroller">
 <ul class="media-list media-list-users list-group">
 <li class="list-group-item">
 <div class="media w-100">
 <img class="media-object d-flex align-self-start mr-3" src=" ">
 <div class="media-body">
 <button class="btn btn-secondary btn-sm float-right">
 <span class="glyphicon glyphicon-user"></span>
 </button>
 <strong> </strong>
 <p> </p>
 </div>
 </div>
 </li>
 <li class="list-group-item">
 <div class="media w-100">
 <img class="media-object d-flex align-self-start mr-3" src=" ">
 <div class="media-body">
 <button class="btn btn-secondary btn-sm float-right">
 <span class="glyphicon glyphicon-user"></span>
 </button>
 <strong> </strong>
 <p></p>
 </div>
 </div>
 </li>
 <li class="list-group-item">
 <div class="media w-100">
 <img class="media-object d-flex align-self-start mr-3" src=" ">
 <div class="media-body">
 <button class="btn btn-secondary btn-sm float-right">
 <span class="glyphicon glyphicon-user"></span>
 </button>
 <strong></strong>
 <p></p>
 </div>
 </div>
 </li>
 </ul>
 </div>
 </div>
 </div>
 </div>
</div> 
 










 
<div class="container pt-4">
 <div class="row">
 <div class="col-lg-3">
 <div class="card card-profile mb-4">
 <div class="card-header img">
 <div class="card-block text-center" >
 <a href="profile/index.html">
 <img
 class="card-profile-img" src="">
 </a> 
 <h6 class="card-title" >
 <a class="text-inherit" href="profile/index.html">Thomas M Maestas</a>
 </h6> 
 <p class="mb-4">Welcome</p> 
 <ul class="card-menu">
 <li id="div5" >
 <ul>
 <li class="card-menu-item">
 <a href="#userModal" class="text-inherit usarModal0" data-toggle="modal"> 
 <h6 class="my-0">Data Analysis</h6>
 </a>
 </li> 
 <li class="card-menu-item">
 <a href="usarModal" class="text-inherit usarModal1" target="_blank" data-toggle="modal">
 <h6 class="my-0">History and Society</h6>
 </a>
 </li>
 <li class="card-menu-item">
 <a href="#userModal" class="text-inherit usarModal2" data-toggle="modal"> 
 <h6 class="my-0">Sociology</h6>
 </a>
 </li>
 </ul>
 </li>
 </ul>

 

 </div>
 </div>
 </div> 
 <div class="card visible-md-block visible-lg-block mb-4"> 
<div class="card-block"> 
<h6 class="mb-3">About Me</h6>

<ul class="list-unstyled list-spaced">
<li><span class="text-muted icon icon-calendar mr-3"></span>Masters Sociology and Bachelors French History <a href="http://www.unm.edu" target="_blank"><span>University of New Mexico, Albuquerque</span></a>
<li><span class="text-muted icon icon-calendar mr-3"></span>Began PhD Sociology <a href="http://www.umontreal.ca"><span>l'Universite de Montreal, Quebec</span></a>
<li><span class="text-muted icon icon-github mr-3"></span> Provides Small Data Survey Analysis, with Big Data and Web solutions since 2016 </span>
<a href="http://www.tmaestas.net"> <span>T M Solutions</span></a>
<li><span class="text-muted icon icon-users mr-3"></span>Social Media 
<a><span>Quora, Historium, Instagram, Facebook, Meet-Up Hiking Group, and Alliance Francaise</span></a>
<li><span class="text-muted icon icon-home mr-3"></span><span>Lives in 
<a href="http://cabq.gov" target="_blank">Albuquerque</a> and <a href="https://santafe.org/" target="_blank">Santa Fe, New Mexico</a> and <a href="http://ville.montreal.qc.ca" target="_blank">Montreal, Quebec</a></span>
<li><span class="text-muted icon icon-home mr-3"></span><span>Lived in 
<a href="https://www.parisinfo.com/" target="_blank">Paris, France</a> and <a href="http://www.ny.gov/" target="_blank">New York</a> and <a href="https://www.visittheusa.com/state/texas" target="_blank">Texas.</a></span></li> 

 </ul>

 </div>

 </div> 

 <div class="card visible-md-block visible-lg-block">

 <div class="card-block">

 <h6 class="mb-3"><small><a href=""></a></small></h6>

 <div class="divgrid0" data-grid="images" data-target-height="150">

 <div class="div0">

 <img data-width="640" data-height="640" data-action="zoom" src="assets/img/TMMmoonscape_450.jpg">

 </div> 

 <div class="div1">

 <img data-width="640" data-height="640" data-action="zoom" src="assets/img/TMMmoonscape_450.jpg">

 </div> 

 <div class="div2">

 <img data-width="640" data-height="640" data-action="zoom" src="assets/img/TMMmoonscape_450.jpg">

 </div> 

 <div class="div3">

 <img data-width="640" data-height="640" data-action="zoom" src="assets/img/TMMmoonscape_450.jpg">

 </div> 

 <div class="div4">

 <img data-width="640" data-height="640" data-action="zoom" src="assets/img/TMMmoonscape_450.jpg">

 </div> 

 <div class="div6">

 <img data-width="640" data-height="640" data-action="zoom" src="assets/img/TMMmoonscape_450.jpg">
</div>

 </div>

 </div>

 </div>

 </div>

 

 <div class="divgrid1" class="col-lg-6">

 <!-- 

 <ul class="list-group media-list media-list-stream mb-4"> 

 <li class="media list-group-item p-4"> 

 <div class="input-group">

 <input type="text" class="form-control" placeholder="Message">

 <div class="input-group-btn">

 <button type="button" class="btn btn-secondary">

 <span class="icon icon-camera"></span>

 </button>

 </div>

 </div> 

 </li>

 <li id="div1m" class="media list-group-item p-4">
 <img
 class="media-object d-flex align-self-start mr-3">

 <div class="media-body">
 <div class="media-heading">
 <small class="float-right text-muted"></small>
 <h6></h6>
 </div> 
 <p>
 </p> 
 <div class="media-body-inline-grid divgrid2" data-grid="images">
 <div style="display: none">
 <img data-action="zoom" data-width="1050" data-height="700" class="div1" src="assets/img/TMMmoonscape_450.jpg">
 </div> 
 <div style="display: none">
 <img data-action="zoom" data-width="640" data-height="640"  class="div2" src="assets/img/TMMmoonscape_450.jpg">
 </div> 
 <div style="display: none">
 <img data-action="zoom" data-width="1048" data-height="700"  class="div3" src="assets/img/TMMmoonscape_450.jpg">
 </div>
 </div> 

 <ul class="media-list mb-2">
 <li class="media mb-3"  style="display: none">   <img class="media-object d-flex align-self-start mr-3"
 src="assets/img/TMMmoonscape.jpg">  <div class="media-body">
 <strong> </strong> 
 </div>
 </li>
 <li class="media">
 <div class="media-body">
 <strong> </strong> 
 </div>
 </li>
 </ul>


 </div>
 </li>  -->
 </ul>
 </div>


 <div class="col-lg-3" id="wrap">
 <div class="card mb-4">
 <div class="card-block" id="cal"> 
<form> 
 <p> 
 <input type="button" name="seven" class="bu" value="7" onclick="updateString('7')" />&nbsp;&nbsp; 
 <input type="button" name="eight" class="bu" value="8" onclick="updateString('8')" />&nbsp;&nbsp; 
 <input type="button" name="nine" class="bu" value="9" onclick="updateString('9')" />&nbsp;&nbsp; 
 <input type="button" name="div" class="bu" value="/" onclick="updateString('/')" /><br /> 
 <input type="button" name="four" class="bu" value="4" onclick="updateString('4')" />&nbsp;&nbsp; 
 <input type="button" name="five" class="bu" value="5" onclick="updateString('5')" />&nbsp;&nbsp; 
 <input type="button" name="six" class="bu" value="6" onclick="updateString('6')" />&nbsp;&nbsp; 
 <input type="button" name="mult" class="bu" value="*" onclick="updateString('*')" /><br /> 
 <input type="button" name="one" class="bu" value="1" onclick="updateString('1')" />&nbsp;&nbsp; 
 <input type="button" name="two" class="bu" value="2" onclick="updateString('2')" />&nbsp;&nbsp; 
 <input type="button" name="three" class="bu" value="3" onclick="updateString('3')" />&nbsp;&nbsp; 
 <input type="button" name="plus" class="bu" value="+" onclick="updateString('+')" /><br /> 
 <input type="button" name="openparenth" class="bu" value="(" onclick="updateString('(')" />&nbsp;&nbsp; 
 <input type="button" name="closeparenth" class="bu" value=")" onclick="updateString(')')" />&nbsp;&nbsp; 
 <input type="button" name="power" class="bu" value=";-)" onclick="updateString(';-)')" />&nbsp;&nbsp; 
 <input type="button" name="modulus" class="bu" value=":-)" onclick="updateString(':-\)')" /><br /> 
 <input type="button" name="zero" class="bu" value="0" onclick="updateString('0')" />&nbsp;&nbsp; 
 <input type="button" name="dot" class="bu" value="." onclick="updateString('.')" />&nbsp;&nbsp; 
 <input type="button" name="clear" class="bu" value="C" onclick="document.forms[1].input.value='';inputString=''" />&nbsp;&nbsp; 
 <input type="button" name="minus" class="bu" value="-" onclick="updateString('-')" /><br /> 
 <input style="color:white;background-color:blue" type="button" name="calc" class="bu" value ="=" onclick="document.forms[1].input.value = eval(inputString); inputString=''" />&nbsp;&nbsp; 
 <input type="button" name="mem" class="bu prim" value="M +" onclick="document.forms[1].storedValue.value = parseInt(document.forms[1].storedValue.value) + parseInt(document.forms[1].input.value)" />&nbsp;&nbsp; 
 <input type="button" name="recall" class="bu prim" value="MRC" onclick="updateString(document.forms[1].storedValue.value)" />&nbsp;&nbsp; 
 <input type="button" name="memClear" class="bu prim" value="MC" onclick="document.forms[1].storedValue.value=0" />&nbsp;&nbsp; 
 <input type="hidden" name="storedValue" value="0" /><br /><br /> 
 <input id="window" type="text" name="input"/> 
 </p> 
 </form><!-- FORM END --> 
 </div> <!-- end cal 

 <div data-grid="images"  data-target-height="150">  <img class="media-object" data-width="640" data-height="640" data-action="zoom" 
    src="assets/img/TMMmoonscape_450.jpg">  </div>
 <p> </p>
 <button class="btn btn-outline-primary btn-sm"> </button>
 </div>
 </div> 
 <div class="card mb-4 ">
 <div class="card-block">
 
 <ul class="media-list ">
 <li class="media mb-2">
 <div class="media-body">
 <strong> </strong> 
 <div class="media-body-actions">
 <button class="btn btn-outline-primary btn-sm">
 <span class="icon icon-add-user"></span></button>
 </div>
 </div>-->
 </li>
 <li class="media">
 <a class="media-left"  >

 <img

 class="media-object d-flex align-self-start mr-3"

 src=" ">

 </a>

 <div class="media-body">

 <div class="media-body-actions">

 <button class="btn btn-outline-primary btn-sm">

 <span class="icon icon-add-user"></span></button>

 </div>

 </div>

 </li>

 </ul>

 </div>
 
 

 </div> 

 </div>

 </div>

</div> 

 <div class="card card-link-list" id="footer" >

 <div class="card-block" id="footer"><p>

 &nbsp;&nbsp;&nbsp;&nbsp; &copy; 2017 &nbsp; T &nbsp; M &nbsp; M &nbsp;&nbsp;&nbsp; |&nbsp; 

 &nbsp;&nbsp; All Rights Reserved. &nbsp;&nbsp; | &nbsp;&nbsp;&nbsp; &nbsp;

 <a href="php/email.php">Contact Me</a> </p>

 </div>

 </div> 

<script type="text/javascript">
$("#toggle").mouseenter( function() {
$("#toggle").css({color:'purple',textDecoration:'underline'});
}).mouseleave( function() {
$("#toggle").css({color:'blue',textDecoration:'none'});
}); 
</script>

<script type="text/javascript">
var textShowing = false;
	$("#toggle").click(function() {
	if (textShowing) {
		$("#textImm").fadeOut(function() {
$("#toggle").html("More");
$("#toggle").css("color","blue");
textShowing = false; 
});
		} else {
		$("#textImm").fadeIn(function() {
$("#toggle").html("Hide");
$("#toggle").css("color","blue");
textShowing = true;
});
		};
});
</script>

<script type="text/javascript">
$( "#toggle2" ).mouseenter( function() {
$("#toggle2").css({color:'purple', textDecoration:'underline'});
}).mouseleave( function() {
$("#toggle2").css({color:'blue', textDecoration:'none'});
});
</script>

<script type="text/javascript">
var textShowing2 = false;
	$("#toggle2").click(function() {
	if (textShowing2) {
		$("#textHeal").fadeOut(function() {
$("#toggle2").html("More");
$("#toggle2").css("color","blue");
textShowing2 = false;
});
		} else {
		$("#textHeal").fadeIn(function() {
$("#toggle2").html("Hide");
$("#toggle2").css("color","blue");
textShowing2 = true;
});

		};

});

</script>
 </body>
</html> 

 