<!DOCTYPE html>

<html lang="en">

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-71584977-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', 'UA-71584977-1');

  </script>
  <style>
    .ui-view {
      margin-top:50px;
    }
  </style>
  <meta charset="utf-8">

  <meta name="description" content="Sociology Data Analysis, Web Development and Statistical Consulting | Statistical Consultant. Get statistics help: 
Thomas offers services related to analyzing qualitative &amp; quantitative data and reporting results in academic journals and business briefs alike. 
Recent projects include research design, app design, and proof-of-concept for Xpansiv Data Systems, 
and data analysis and web-application implementation. Data analysis and special pricing offers competitive benefits for clients.  
If you need help with R, Python, Stata or SPSS, contact Thomas Maestas. Thomas will perform the analysis for you so you can focus on your
 project and avoid the web and statistical package learning curve.">

  <meta name="keywords" content="  data analysis and visualization, sociology statistical tests">
  <meta name="author" content="Thomas Maestas">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>TMM | Home</title>
  <link rel="stylesheet" href="dist/css/app.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.11/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.20/angular-ui-router.min.js"></script>
  <script src="//unpkg.com/@uirouter/visualizer@4"></script> 
  <script src="app-tmm.js"></script>

  <script src="components/posts.js"></script>
  <script src="components/home.js"></script>
  <script src="components/about.js"></script>
  <script src="components/maps.js"></script>
  <!--  <script src="components/dag.js"></script>

  <script src="dist/post-list.controller.js"></script>
--> 
  <base href="/" />
</head>



<body  ng-app="tmm">
   <!-- <section ng-app="myChartingApp" ng-controller="DemoCtrl">
      <div ui-chart="someData" chart-options="myChartOpts" ></div>
    </section>
            
    <script>
        angular.module('myChartingApp', ['ui.chart'])
          .value('charting', {
            pieChartOptions: {
              seriesDefaults: {
                // Make this a pie chart.
                renderer: jQuery.jqplot.PieRenderer,
                rendererOptions: {
                  // Put data labels on the pie slices.
                  // By default, labels show the percentage of the slice.
                  showDataLabels: true
                }
              },
              legend: { show:true, location: 'e' }
            }
          })
          .controller('DemoCtrl', function ($scope, charting) {
            $scope.someData = [[
              ['Heavy Industry', 12],['Retail', 9], ['Light Industry', 14],
              ['Out of home', 16],['Commuting', 7], ['Orientation', 9]
            ]];
       
            $scope.myChartOpts  = charting.pieChartOptions;
          });
      </script>  -->
  <div>
  <div class="svgHolder" style="opacity:.5;position:absolute;top:20px;" id="force"></div>
  <script type="text/javascript" src="http://d3js.org/d3.v3.js"></script>
  <script type="text/javascript" src="dist/js/dag.js"></script>
  <nav id="nav" class="  navbar navbar-default">
    <img src="dist/img/tmmpurple.png" alt="picture of Thomas at Satellite Cafe, Albuquerque Central Ave. " id="tmmlogo" class="profile"
    />
    <div class="container  ">
 
      <div class=" navbar-header">
        <button type="button" id="aria" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
          aria-controls="navbar">
          <span class="sr-only"> </span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand " href="#"> </a>
      </div>
 
    <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav   nav-space">
          <li>
            <a ui-sref="home" ui-sref-active="active">HOME</a>
          </li>
          <li>
            <a ui-sref="services" ui-sref-active="active">SERVICES</a>
          </li>
          <li>
            <a ui-sref="about" ui-sref-active="active">ABOUT</a><li>
              <a ui-sref="maps" ui-sref-active="active">MAPS</a>
            </li>
          </li>
          <!--
          <li>
            <a href="http://www.thomasmaestas.net/maps.html">MAPS</a>
          </li>
        -->  
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a title="github" href="https://github.com/thomasm1" target="_blank">
              <i class="fa fa-github"></i>
            </a>
          </li>
          <li>
            <a title="twitter" href="https://twitter.com/ThomasMaestas" target="_blank">
              <i class="fa fa-twitter"></i>
            </a>

          </li>

          <li>

            <a title="facebook" href="https://www.facebook.com/thomas.m.maestas" target="_blank">

              <i class="fa fa-facebook"></i>

            </a>

          </li>

          <li>

            <a title="linkedin" href="http://linkedin.com/in/thomasmaestas" target="_blank">

              <i class="fa fa-linkedin"></i>

            </a>

          </li>
        </ul>

      </div>

    </div> 
  </nav>  
    <div class="container jumb  ">
      <h2 class="  dailytech alpho0">WELCOME&nbsp; &nbsp;TO&nbsp; &nbsp; TMM </h2>

       
      <br />
      <br />
    </div>
<div class="ui-view">
    <ui-view></ui-view>
  </div>


    
<div ng-include="'views/footer.html'"></div>
 
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.2/js/bootstrap.min.js"></script>
    <script src="dist/tmm_bundle_july-4.js"></script>
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-58b774f963b674cb"></script>
  </div>
</body> 

</html>
