/*
 * Application level styles
 * (things that dont make sense in a toolkit :)
 * copyright @colossal 2015
 */


/* docs overrides */


/* july 23 final merge */


/*   overrides */

body {
    background-color: teal;
    max-width: 950px;
    margin-left: auto;
    margin-right: auto;
    min-width: 100%;
    *width: 100%;
}

#divContainer {
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
    background-color: #00d9f9;
}

div.col-lg-3 {
    background-color: #00d9f9;
}

.highlight {
    background-color: #fff;
    border-color: #232fa9;
}


/* general overrides */

.list-group-item.glyphicon {
    line-height: 1.1;
}

.modal-header .close {
    margin-top: 4px;
}

strong {
    font-weight: bold;
}

.alert {
    display: none;
}


/*
  adjusting headline bg color
   */

.bg-primary.app-navbar {
    background-color: #00b0ec !important;
}

.tmm {
    opacity: .9;
}

img.media-object {
    max-width: 110%;
}

.navbar.navbar-toggleable-sm-fixed-top {
    background-color: #24abe9;
    background-color: #00b0ec !important;
}

#navbarResponsive {
    background-color: #00b0ec !important;
}

.profile img {
    min-height: 90px;
    min-width: 90px;
    margin-left: -10px;
}

.card-profile-img {
    width: 80%;
    height: auto;
    margin-left: -10px;
}

img {
    vertical-align: middle;
    max-width: 110%;
    max-height: 110%;
}

div.card-block#cal {
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    opacity: .9;
}

#text {
    display: none;
}

.main {
    max-width: 40%;
    min-width: 40%;
    opacity: .75;
}

#about ul {
    text-align: left;
}

#about ul li {
    text-align: left;
}


/* navbar */

.app-navbar {
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}

.app-navbar .form-control {
    box-shadow: none;
}

.app-navbar .navbar-brand img {
    width: 85px;
}

.app-navbar .navbar-collapse {
    max-height: inherit;
}

.app-navbar .navbar-collapse:after {
    height: 100vh;
}

.app-navbar .form-control {
    border-color: #1C73A5;
}

.app-navbar .app-notifications {
    margin-left: 1rem;
    padding-bottom: 4px !important;
    padding-top: 4px !important;
}

.app-notifications .icon:before {
    font-size: 20px;
}

@media (min-width: 480px) {
    .app-navbar .navbar-collapse:after {
        height: auto;
    }
}

@media (max-width: 480px) {
    .app-search {
        margin-top: -1px;
    }
}

@media (max-width:480) {
    .map {
        max-width: 50%;
        border: solid .5px white;
    }
}

.media-object.d-flex.aligh-self-start.mr-3 {
    background-image: url('../src/img/TMMblueTrans.png');
    max-width: 30px;
}

@media (max-width:500) {
    img.profile {
        display:none;
    }
}

/* navbar */

.app-navbar {
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}

.app-navbar .form-control {
    box-shadow: none;
}

.app-navbar .navbar-brand img {
    width: 140px;
    margin-top: 10px;
    margin-bottom: 0px;
}

.app-navbar .navbar-collapse {
    max-height: inherit;
}

.app-navbar .navbar-collapse:after {
    height: 100vh;
}

.app-navbar .form-control {
    background-color: #00b0ec;
}


 

@media (min-width: 100px) {
    .app-navbar .navbar-collapse:after {
        height: auto;
    }
}

@media (max-width: 100px) {
    .app-search {
        margin-top: -10px;
    }
}


/* misc */

.app-login-form {
    max-width: 280px;
    margin-top: -60px;
}

.app-new-msg {
    margin-right: 10px;
}

.app-brand {
    width: 40%;
    display: inline-block;
}

.app-brand img {
    width: 100%;
}

#search {
    margin-left: 10px;
    margin-top: -10px;
    margin-right: 10px;
    color: yellow;
    background-color: #0f85d4;
    opacity: .9;
}


/* general overrides */

.list-group-item .glyphicon {
    line-height: 1.4;
}

div#userModal.modal.fade {
    display: none;
}

.modal-header .close {
    margin-top: 4px;
}

div#userModal.modal.fade {
    display: none;
}

strong {
    font-weight: bold;
}


/*

  adjusting headline bg color

   */

.bg-primary {
    background-color: #6aa0e6 !important;
    background-color: #00b0ec;
}

nav#divContainer {
    background-color: #00b0ec;
}

.tmm {
    opacity: 1;
    width: 230px;
}

.card-title {
    font-size: 1.2em;
}


/* profilepic*/

img.rounded-circle.profile {
    min-height: 90px;
    min-width: 90px;
    max-width: 110px;
}

li.nav-item.ml-2 {
    position: relative;
}

.ml-2 {
    list-style-type: none;
    margin-top: 0px;
    margin-right: 10px;
}


/* welcome and text*/

.mb-4 {
    font-weight: 300;
    list-style-type: none;
    text-align: center;
    color: white;
    border: 0px solid red;
    box-shadow: 0px 10px 50px silver;
    background-color: #00b0ec;
    background-image: url('../src/img/MaestasReykjavikBanner.jpg');
    border-radius: 0px;
    border: 0px solid red;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
}

.mb-4 a {
    color: #59f3ff;
    text-align: center;
}

.text-inherit {
    color: white;
}

.card-block.mb-3 {
    margin-top: 20px;
    color: white;
}

div.card.card-link-link {
    min-width: 100%;
}

div.card-block#footer {
    min-width: 100%;
    color: white;
    min-width: 100%;
    background-color: #3097D1 !important;
    text-align: center;
    border-radius: 0px;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
}

div.card-block#footer a {
    color: white;
}

.card.card-link-list#footer a {
    color: white;
}

.card.card-link-list#footer a:hover {
    color: blue;
}

.card.card-link-list#footer a:active {
    color: #00d5f6;
    background-color: teal;
}

div.card.card-link-list {
    border: solid 0px transparent;
}

#div5 {
    overflow: hidden;
}

div.card.card-profile.mb-4#div5 {
    background-color: #00b0ec;
    background-image: url('../src/img/MaestasReykjavikBanner.jpg');
}

div.card.card-profile.mb-4 {
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
}

div.card-header {
    background-color: #00b0ec;
    background-image: url('../src/img/MaestasReykjavikBanner.jpg');
    padding-top: 20px;
    min-height: 180px;
    border: 0px solid red;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
    font-size: 1.2em;
}

.list-group-item {
    background-color: transparent;
}

div.col-lg-6 {
    background-color: transparent;
}

div.col-lg-3 {
    background: transparent;
}


/* blocks 2, 3 */

div.card.visible-md-block.visible-lg-block {
    margin-top: 0px;
    background-color: #00b0ec;
    background-image: url('../src/img/MaestasReykjavikBanner.jpg');
    padding-top: 30px;
    min-height: 230px;
    border-radius: 0px;
    border: 0px solid red;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
}

p.mb-4 {
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 5px;
}

div.card-header {
    min-height: 480px;
    background-color: #00b0ec;
}

li.card-menu-item {
    padding: 0px;
    margin: 0px;
    line-height: 90%;
    list-style-type: none;
}

div.card-block img {
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
    border: 0px solid blue;
    background-color: #00b0ec;
    font-weight: 800;
}

div.card-block.text-center a {
    background-color: #00b0ec;
    background-image: url('../src/img/MaestasReykjavikBanner.jpg');
}

div.card-block.text-center {
    background-color: #00b0ec;
    background-image: url('../src/img/MaestasReykjavikBanner.jpg');
    box-shadow: 0px 10px 50px transparent;
    font-weight: 800;
}


/* blocks 2, 3 */

#center-col {
    background-color: #00b0ec;
    background-image: url('../src/img/MaestasReykjavikBanner.jpg');
    padding-top: 0px;
    min-height: 180px;
    border-radius: 0px;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
}

li.map2.media.list-group-item.p-4 {
    background-color: #00b0ec;
    background-image: url('../src/img/MaestasReykjavikBanner.jpg');
    padding-top: 0px;
    min-height: 180px;
    border-radius: 0px;
    border: 0px solid red;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
}
 

/* misc */

.app-login-form {
    max-width: 280px;
    margin-top: -60px;
}

.app-new-msg {
    margin-right: 10px;
}

.app-brand {
    width: 40%;
    display: inline-block;
}

.app-brand img {
    width: 100%;
}

div.card-block#right-col {
    min-height: 200px;
}

a.nav-link {
    background-color: transparent;
}

.multi_drop_menu {
    font: 1em tahoma, geneva, sans-serif;
}

.multi_drop_menu a {
    display: block;
    color: blue;
    background-color: transparent;
    padding: .3em 1em;
    border-width: 4px;
    border-color: transparent;
}

.multi_drop_menu a:hover {
    color: #fff;
    background-color: #3097D1;
}

.multi_drop_menu a:active {
    background: purple;
    color: #ccc;
}

.multi_drop_menu * {
    margin: 0;
    padding: 0;
}

.multi_drop_menu ul {
    float: left;
    width: 100%;
}

.multi_drop_menu ul li {
    z-index: 99;
    width: 25%;
    float: left;
    list-style-type: none;
    position: relative;
}

.multi_drop_menu li {
    float: left;
    list-style-type: none;
    position: relative;
}

.multi_drop_menu li a {
    text-align: center;
    display: block;
    border-right-style: none;
    background-clip: padding-box;
    text-decoration: none;
}

ul.list-unstyled.list-spaced.left {
    list-style-image: url('../src/img/montrealbullet.png');
    margin-right: -5px;
    opacity: .8;
}

ul.list-unstyled.list-spaced.left li:hover {
    margin-left: -20px;
    padding: 0px;
    margin: 0px;
}

.multi_drop_menu li:last-child a {
    border-right-style: none;
}

.multi_drop_menu li ul {
    display: none;
}


/*visual */

@media (min-width: 401px) {
    .multi_drop_menu li li a {
        color: silver;
        background-color: teal;
    }
}

.multi_drop_menu li li {
    color: white;
}

.multi_drop_menu li li a {
    color: white;
    background-color: #3097D1;
    border-right-style: none;
    text-align: left;
    border-top-style: solid;
    border-top-color: transparent;
}


/*functional addition */

.multi_drop_menu li ul {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
}

.multi_drop_menu li li {
    float: none;
    background-color: #aaa;
    width: 150px;
}

.multi_drop_menu li li ul {
    display: none;
}


/*      */

.multi_drop_menu li ul {
    display: none;
    position: absolute;
}

.multi_drop_menu li:hover>ul {
    display: block;
}

li ul {
    display: none;
}

li:hover>ul {
    display: block;
}

.multi_drop_menu li li ul {
    position: absolute;
    left: 100%;
    top: 0;
}

.multi_drop_menu li:hover>a {
    color: #fff;
    background-color: #004ea5;
}

.multi_drop_menu ul li ul li a {
    background-color: #004ea5;
    width: 150px;
}

.map {
    max-width: 100%;
}

.blog {
    float: left;
    min-height: 500px;
    max-height: 500px;
    width: 100%;
    border: inset 2px silver;
    background-color: white;
    padding: 0px;
    margin: 0px;
}

.blog h2 {
    text-shadow: 3px 3px 3px #aaa;
    font-size: 1em;
    border: solid .5px brown;
    padding: 3px 4px 3px 4px;
    margin-bottom: 5px;
    color: #59f3ff;
}

.blog h3 {
    color: #59f3ff;
    text-shadow: 3px 3px 3px #aaa;
}

.blog p {
    line-height: 1.2em;
}

.center {
    text-align: center;
}

.rightalign {
    text-align: right;
    color: #59f3ff;
    margin-right: 0px;
    margin-bottom: 5px;
}

 
body {
    font-family: 'Roboto', sans-serif;
}

.center {
    text-align: center;
}
 div#bars {
     z-index:-1;
 }

 #thomas {
    z-index:-1; 
}
#navbar > ul.nav.navbar-nav.profile.nav-space > li  *  {
    z-index:40;
}
#navbar  li * {
    z-index:99;
}


.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-left:15px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 1px;
  }
  .navbar-toggle:focus {
    outline: 0;
  }
  .navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
  }
  .navbar-toggle .icon-bar + .icon-bar {
    margin-top: 4px;
  }
  @media (min-width: 800px) {
 
    .navbar-toggle {
      display: none;
    }
  }
  .navbar-nav {
    margin: 7.5px -15px;
  }
  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
  }
  @media (max-width: 400px) {
    img.profile {
        display:none;
    }
    .navbar-nav .open .dropdown-menu {
      position: static;
      float: right;
      width: auto;
      margin-top: 0;
      background-color: transparent;
      border: 0;
      -webkit-box-shadow: none;
              box-shadow: none;
    }
    .navbar-nav .open .dropdown-menu > li > a,
    .navbar-nav .open .dropdown-menu .dropdown-header {
      padding: 5px 15px 5px 25px;
    }
    .navbar-nav .open .dropdown-menu > li > a {
      line-height: 20px;
    }
    .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-nav .open .dropdown-menu > li > a:focus {
      background-image: none;
    }
  }
  @media (min-width: 400px) {
    .navbar-nav {
      float: left;
      margin: 0;
    }
    .navbar-nav > li {
      float: left;
    }
    .navbar-nav > li > a {
      padding-top: 15px;
      padding-bottom: 15px;
    }
  }
  .navbar-form {
    padding: 10px 15px;
    margin-top: 8px;
    margin-right: -15px;
    margin-bottom: 8px;
    margin-left: -15px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(255, 255, 255, .1);
            box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(255, 255, 255, .1);
  }
  @media (min-width: 400px) {
    .navbar-form .form-group {
      display: inline-block;
      margin-bottom: 0;
      vertical-align: middle;
    }
    .navbar-form .form-control {
      display: inline-block;
      width: auto;
      vertical-align: middle;
    }
    .navbar-form .form-control-static {
      display: inline-block;
    }
    .navbar-form .input-group {
      display: inline-table;
      vertical-align: middle;
    }
    .navbar-form .input-group .input-group-addon,
    .navbar-form .input-group .input-group-btn,
    .navbar-form .input-group .form-control {
      width: auto;
    }
    .navbar-form .input-group > .form-control {
      width: 100%;
    }
    .navbar-form .control-label {
      margin-bottom: 0;
      vertical-align: middle;
    }
    .navbar-form .radio,
    .navbar-form .checkbox {
      display: inline-block;
      margin-top: 0;
      margin-bottom: 0;
      vertical-align: middle;
    }
    .navbar-form .radio label,
    .navbar-form .checkbox label {
      padding-left: 0;
    }
    .navbar-form .radio input[type="radio"],
    .navbar-form .checkbox input[type="checkbox"] {
      position: relative;
      margin-left: 0;
    }
    .navbar-form .has-feedback .form-control-feedback {
      top: 0;
    }
  }
  @media (max-width: 767px) {
    .navbar-form .form-group {
      margin-bottom: 5px;
    }
    .navbar-form .form-group:last-child {
      margin-bottom: 0;
    }
}
    nav.rightmenu {
    min-width:300px;
}